<div class="displayTable">
    <div class="displayTableCell">
        <div class="text-center">
            <img style="width:50%" src="/assets/images/logoqr.png">
        </div>
        <div class="authBlock mt-3">
            <h3 class="text-center">Gracias por registrarte en QReady</h3>
            <div class="formGroup" *ngIf="authService.userData as user">
                <p class="text-center px-2">Para poder usar QReady sin limitaciones, tenes que verificar tu cuenta, enviamos el link al siguiente correo: <strong>{{user.email}}</strong>.</p>
                <p class="text-center">Revisá tu casilla de correo y hacé click en el link de activación.</p>
            </div>
            <!-- Calling SendVerificationMail() method using authService Api -->
            <div class="formGroup text-center">
                <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
                    <i class="fas fa-redo-alt"></i>
                    ¿No llego la activación? Reenviá el correo
                </button>
            </div>
        </div>
        <div class="redirectToLogin text-center mt-3">
            <span>¿Verificación terminada?<span class="redirect" routerLink="/login"><b class="text-info"> ¡Inicia sesión!</b></span></span>
        </div>
    </div>
</div>