.full-right{
    flex: 1 1 auto;
}
.container-sidenav{
    flex: 1;
    height: 90vh!important;
}
.sidenav-content{
    overflow: initial!important;
}
mat-sidenav{
    background-color: #494949;
}

mat-list-item{
    color:white!important;
}
.text-white{
    color:white!important;
}
.text-black{
    color:black!important;
}
mat-toolbar{
    background-color: rgb(242, 242, 242);
    height: 10vh!important;
}
.backend{
    color:rgb(19, 19, 19)!important;
    min-height: 90vh!important;
    background-color:rgb(230, 230, 230);;
    padding-left:50px;
    padding-right:50px;
    padding-top: 25px;
}

@media screen and (max-width: 768px) {

    .backend{
        padding-left: 25px;
        padding-right: 25px;
    }
}