<mat-toolbar>
  <span class="full-right text-black"><h3>ChangoFree</h3></span>
  <span class="w20"><button mat-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button></span>

 
</mat-toolbar>
<mat-sidenav-container  class="container-sidenav">

    <mat-sidenav #snav closed mode="side">
      <mat-nav-list>
        <mat-list dense>
          <mat-list-item routerLink="/backend/inicio" (click)="snav.toggle()">
            <mat-icon>home</mat-icon> <a>Panel</a>
          </mat-list-item>
          
          <mat-list-item routerLink="/backend/clientes" (click)="snav.toggle()">
              <mat-icon>supervisor_account</mat-icon> <a>Clientes</a> 
            </mat-list-item>
            <mat-list-item routerLink="/backend/notificaciones"  (click)="snav.toggle()">
                <mat-icon>mail_outline</mat-icon> <a>Notifiaciones</a> 
              </mat-list-item>
          
          <mat-list-item (click)="goSection()" (click)="snav.toggle()">
          <mat-icon>assignment</mat-icon> <a>Ventas</a>
        </mat-list-item>
        <mat-list-item (click)="goCategoria()" (click)="snav.toggle()">
            <mat-icon>list_alt</mat-icon> <a>Soporte</a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a>Hola {{userOnline}}</a>
          </mat-list-item>
         
          <mat-list-item>
            <button mat-raised-button color="warn" (click)="handleExitSession()"> Cerrar sessión </button>
          </mat-list-item>
      </mat-list>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
      <section class="backend">
        <router-outlet></router-outlet>
      </section>
    </mat-sidenav-content>
</mat-sidenav-container>

