<footer class=" py-4 text-white">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-12">
      <b class="text-white"><h3>Información</h3></b>
      <p class="ma-1"><a href="www.instagram.com/changofree">Instagram</a></p>
      <p class="ma-1"><a href="www.facebook.com/changofree">Facebook</a></p>
      <p class="ma-1">Email: team.changofree@gmail.com</p>
    </div>
    <div class="col-md-6 col-12">
      <p class="mt-5 lugar">Ciudad Autonoma de Buenos Aires</p>
    </div>
   <div class="col-12">
    <hr>
  </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
        2018 © ChangoFree | Todos los derechos reservados. <a routerLink="/terminos">Términos y condiciones</a>.  
    </div>
  </div>
</div>
</footer>