footer{
    background: #222!important
}
.ma-1{
    margin-bottom: 5px;
}
hr{
    border-top: 1px solid rgba(255, 255, 255, 0.22)!important;
}
.lugar{
    margin-left: 50%;
}
p > a {
    color: white!important;
}