<div class="container-fluid" style="height:100vh">
  <div class="row" style="height:100vh">
    <div class="col-md-2 px-0 ">
      <app-side></app-side>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-12 perfil d-flex" [style.background-image]="url">
          <div class="fondo-b">
            <div class="foto my-auto" style="margin-left:8rem;">
              <img src="/assets/252.jpg">
            </div>
            <div class="my-auto text-white" style="margin-left:8rem">
              <p class="text-white display-1 os title">CAMILA JEAN</p>
              <p class="display-4">Modelo de staff desde 23/12/2017</p>
              <p class="display-4">3 Packs</p>
              <p class="display-4">944 Likes</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row py-4">
        <div class="col-md-12 text-center">
          <p class="display-2">ULTIMOS PACKS</p>
        </div>
        </div>
        <div class="row tarjeta">
        <div class="col-md-6 d-flex">
        <div class="my-auto mx-auto">
          <p class="display-2">STRAP ON YOU</p>
          <p class="display-4">Molly + Chicautopica </p>
          <p class="display-4">PH AlphaGolf</p>
          <div class="my-4">
            <i class="material-icons bg-icon mr-3">favorite</i>
            <i class="material-icons bg-icon">mode_comment</i>          
          </div>
          <p><button mat-raised-button class="so btn-veralbum-1"> VER ALBUM <i class="material-icons  cp;" style="    position: relative;
            top: -1.88px;">keyboard_arrow_right</i></button></p>
        </div>
        </div>
        <div class="col-md-6 px-0">
          <img src="/assets/251.jpg" style="width:100%">
        </div>
      </div>

      <div class="row tarjeta tarjeta-dos">
          <div class="col-md-6 px-0">
            <img src="/assets/251.jpg" style="width:100%">
          </div>
          <div class="col-md-6 d-flex">
              <div class="my-auto mx-auto">
                <p class="display-2">STRAP ON YOU</p>
                <p class="display-4">Molly + Chicautopica </p>
                <p class="display-4">PH AlphaGolf</p>
                <div class="my-4">
                  <i class="material-icons bg-icon mr-3">favorite</i>
                  <i class="material-icons bg-icon">mode_comment</i>          
                </div>
          <p><button mat-raised-button class="so btn-veralbum-2"> VER ALBUM <i class="material-icons  cp;" style="    position: relative;
            top: -1.1px;">keyboard_arrow_right</i></button></p>

              </div>
          </div>
        </div>

    </div>