<div class="container-fluid" style="height:100vh">
  <div class="row" style="height:100vh">
    <div class="col-md-2 px-0 ">
      <app-side></app-side>
    </div>
    <div class="col-md-10 col-12">
      <div class="row">
        <div class="col-md-12 perfil d-flex px-0">
          <div class="fondo-b">
            <div class="foto my-auto" style="margin-left:8rem;">
              <img src="https://pbs.twimg.com/profile_images/1080353750076788737/R9xtY____400x400.jpg">
            </div>
            <div class="my-auto text-white" style="margin-left:8rem">
              <p class="text-white display-1 os title">ADRIAN</p>
              <p class="display-4">FOTOGRAFO PROFESIONAL DESDE 20/10/2005</p>
              <p class="display-4">MÁS DE 1000 TRABAJOS REALIZADOS</p>
              <p class="display-4">INSTAGRAM:<a class="ml-3" href="https://www.instagram.com/ph.alpha.golf/">@ph.alpha.golf</a></p>
              <p class="display-4">TWIITER:<a class="ml-3" href="https://twitter.com/phalphagolf">@phalphagolf</a></p>
              <p class="display-4">EMAIL:<a class="ml-3" href="https://twitter.com/phalphagolf">info@phalphagolf.com</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>