<mat-grid-list cols="3" rowHeight="600px">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>
        <p>Login del sistema</p>
      </mat-card-title>
      <mat-card-subtitle>
        Backend Administrativo - ChangoFree
      </mat-card-subtitle>
      <mat-card-content>
          <p>
            <mat-form-field>
              <input matInput placeholder="Nombre de usuario" type="text" name="user" [(ngModel)]="Usuario">
          </mat-form-field>
          </p>
          <p>
          <mat-form-field>
            <input matInput placeholder="Tu contraseña" [type]="hide ? 'text' : 'password'" name="password" [(ngModel)]="Contrasena">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
          </p>
          <p>Si tenes inconvenientes para iniciar sesión o te has olvidado la constraseña, comunicate con tu lider de proyecto o supervisor.</p>
        </mat-card-content>
        <mat-card-content>
          <button mat-raised-button color="primary" (click)="validateLogin()"> Iniciar sesión</button>
        </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
 
</mat-grid-list>