<div class="container-fluid" style="height:100vh">
    <div class="row" style="height:100vh">
      <div class="col-md-2 px-0 menu">
        <app-side></app-side>
      </div>
      <div class="col-md-10 ">
        <div class="row">
                <div class="col-12 px-0 hide-note">
                  <div class="py-3 bg-dark d-flex px-4">
                    <img src="/assets/logoAlpha.png" style="height:85px">
                    <i class="material-icons ml-auto my-auto" style="font-size: 40px;color:white;">menu</i>
                  </div>
              </div>
          <div class="col-md-6 d-flex text-center mt-3">
              <p class="display-3 mx-auto my-auto">MODELOS MÁS POPULARES
            </p>
  
          </div>
         
          <div class="col-md-6 col-12 text-center my-5" >
            <button style="position:relative" class="categoria">
              <p class="mb-0" style="font-size: 13px;">VER MODELOS </p>
              <p>CUALQUIER GÉNERO<i class="material-icons" style="position:relative; top:4px;">keyboard_arrow_down</i></p>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
          </div>
        </div>
        <div class="row tarjeta">
          <div class="col-md-6 d-flex">
            <div class="my-auto mx-auto py-5">
              <p class="display-2">STRAP ON YOU</p>
              <p class="display-4">Molly + Chicautopica </p>
              <p class="display-4">PH AlphaGolf</p>
              <div class="my-4">
                <i class="material-icons bg-icon mr-3">favorite</i>
                <i class="material-icons bg-icon">mode_comment</i>
              </div>
              <p><button mat-raised-button class="so btn-veralbum-1" routerLink="/cami"> VER PERFIL <i class="material-icons  cp;" style="    position: relative;
                top: -1.88px;">keyboard_arrow_right</i></button></p>
            </div>
          </div>
          <div class="col-md-6 px-0">
            <img src="/assets/251.jpg" style="width:100%">
          </div>
        </div>
        <div class="row tarjeta-dos">
            <div class="col-md-6 px-0">
              <img src="/assets/251.jpg" style="width:100%">
            </div>
            <div class="col-md-6 d-flex">
                <div class="my-auto mx-auto py-5">
                  <p class="display-2">STRAP ON YOU</p>
                  <p class="display-4">Molly + Chicautopica </p>
                  <p class="display-4">PH AlphaGolf</p>
                  <div class="my-4">
                    <i class="material-icons bg-icon mr-3">favorite</i>
                    <i class="material-icons bg-icon">mode_comment</i>          
                  </div>
            <p><button mat-raised-button class="so btn-veralbum-2"  routerLink="/cami"> VER PERFIL <i class="material-icons  cp;" style="    position: relative;
              top: -1.1px;">keyboard_arrow_right</i></button></p>
  
                </div>
            </div>
          </div>
          <div class="row tarjeta">
              <div class="col-md-6 d-flex">
                <div class="my-auto mx-auto py-5">
                  <p class="display-2">STRAP ON YOU</p>
                  <p class="display-4">Molly + Chicautopica </p>
                  <p class="display-4">PH AlphaGolf</p>
                  <div class="my-4">
                    <i class="material-icons bg-icon mr-3">favorite</i>
                    <i class="material-icons bg-icon">mode_comment</i>
                  </div>
                  <p><button mat-raised-button class="so btn-veralbum-1"  routerLink="/cami"> VER PERFIL <i class="material-icons  cp;" style="    position: relative;
                    top: -1.88px;">keyboard_arrow_right</i></button></p>
                </div>
              </div>
              <div class="col-md-6 px-0">
                <img src="/assets/251.jpg" style="width:100%">
              </div>
            </div>
      </div>
    </div>
  </div>