<header class="header-top">
    <section class="bg-header">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-12 h-100 display-flex-center-end">
            <h2 class="title-blog">CHANGO FREE ACADEMY</h2>
          </div>
        </div>
      </div>
    </section>
  </header>
  
  <section>
    <div class="container">
      <div class="row py-4">
        <div class="col-12 text-center">
          <b class="h3">{{blog.title1 | changeline}}</b>
        </div>
      </div>
      <div class="row">
        <div class="col-12 px-1 mb-3">
          <p>
            {{blog.descripcion1}}
          </p>
          <h4 class="my-4">{{blog.title2}}</h4>
          <p>
              {{blog.descripcion2}}
          </p>
          <h4 class="my-4">{{blog.title3}}</h4>
          <p>
              {{blog.descripcion3}}
          </p>
          <h4 class="my-4">{{blog.title4}}</h4>
          <p>
              {{blog.descripcion4}}
          </p>

        </div>
      </div>
      <div class="row">
<div class="col-12 text-center">
        <a href="https://wa.me/541138459621">
            <i class="material-icons f-70">bug_report</i>
            <p class="h3">Ayuda & Soporte</p>
        </a>
      </div>
      </div>
      
    </div>
  </section>
  
  <footer class="mt-4" style="background-color:#24a4cc;     border-top: 4px dashed white;">
      <div class="container">
        <div class="row">
          <div class="col-12 py-3 text-center">
            <img src="/assets/logo.png" style="height: 160px" class="full-tam">
          </div>
          <div class="col-12 text-white text-center">
            <h6 routerLink="/terminos"><small>Terminos y condiciones</small></h6>
            <h5><small>ChangoFree 2018 - Todos los derechos reservados</small></h5>
            <hr style="border: 1px solid white!important">
          </div>
        </div>
      </div>
    </footer>