<!-- Navbar PC -->
<div class="navbar-pc">
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-md-6 center-center" style="justify-content: start;">
          <!-- <i class="material-icons">menu</i> -->
          <h5 class="fuente mb-0 ml-4" style="font-size: 24px;">Emprendedores</h5>
        </div>
        <!-- <div class="col-md-6 center-center">
          <a class="fuente">Ideas de negocio | Franquicias | Nosotros</a>
        </div> -->
        <div class="col-md-6 center-center" style="justify-content:flex-end">
          <i class="material-icons">search</i>
        </div>
      </div>
    </div>
  </div>
<header class="bg">
  <div>
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div>

        </div>
        <div class="col-12 h-100 center-center text-white fuente" style="justify-content: start;align-items: flex-end;">

          <span class="pos-bot">
            <h1 class="title-1">¿Por qué emprender en el siglo XXI?</h1>
            <h5><small>Lorem ipsum dolor sixt amet, consectetur adipiscing elit. Vivamus laoreet velit eget tristique
                pharetra. Nunc velit dui, consectetur non erat sit amet, tincidunt porttitor velit.</small></h5>
          </span>
        </div>
      </div>
    </div>

  </div>
</header>
<section>
  <div class="container-fluid">
    <div class="row py-5">
      <div class="col-12">
        <a class="bold h4">ARTICULOS RECIENTES</a>
        <hr>
        <div class="row">
          <div class="col-12 col-md-6">
            <img src="{{categoriaitem[0].imagen}}" style="width:100%">
            <p class="text-info mt-2">{{categoriaitem[0].categoria}}</p>
            <p><b>{{categoriaitem[0].titulo1}}</b></p>
            <p><small>{{categoriaitem[0].descripcion1}}</small></p>
            <small class="bold">Autor: {{categoriaitem[0].autor}}</small>
            <hr>
          </div>
          <div class="col-md-6 col-12">
            <div class="row mb-5" *ngFor="let x of listBlog">
              <div class="col-12 col-md-6">
                <p class="text-info mb-0">{{x.categoria}}</p>
                <p class="mb-1"><b>{{x.titulo1}}</b></p>
                <p class="mb-0"><small>{{x.descripcion1}}</small></p>
                <small class="bold">Autor: {{x.autor}} | {{x.fecha}}</small>
              </div>
              <div class="col-12 col-md-6">
                <img src="{{x.imagen}}" style="width: 100%;">
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
        <div class="row pb-5">
          <div class="col-12 text-center">
            <button class="btn btn-info mx-auto fuente" routerLink="/emprender/listado">VER MAS ARTICULOS</button>
          </div>
        </div>
    <div class="row">
      <div class="col-12">
        <a class="bold h4">ARTICULOS MÁS FAMOSOS</a>
        <hr>
      </div>
      <div class="col-12">
        <div class="row mt-3" *ngFor="let x of categoriaitem">
          <div class="col-12 col-md-9">
            <p class="text-info">{{x.categoria}}</p>
            <p><b>{{x.titulo1}}</b></p>
            <p><small>{{x.descripcion1}}</small></p>
            <small class="bold">Autor: {{x.autor}} | {{x.fecha}}</small>

          </div>
          <div class="col-md-3 col-12">
            <img src="{{x.imagen}}" style="width: 100%;">
          </div>
          <hr>
        </div>
      </div>
    </div>
    <div class="row py-5">
        <div class="col-12 text-center">
          <button class="btn btn-info mx-auto fuente" routerLink="/emprender/listado">VER MAS ARTICULOS</button>
        </div>
      </div>
    <div class="row py-3">
      <div class="col-12">
        <a class="bold h4">OPORTUNIDAD DE INVERSION</a>
        <hr>
      </div>
        <div class="col-6 col-md-6" *ngFor="let x of listNegocio">
        <img src="{{x.imagen}}" style="width:100%">
        <p class="text-info mt-3">{{x.categoria}}</p>
        <p><b>{{x.titulo1}}</b></p>
        <p><small>{{x.descripcion1}}</small></p>
      </div>
    </div>
    <div class="row py-5">
        <div class="col-12 text-center">
          <button class="btn btn-info mx-auto fuente" routerLink="/emprender/listado">VER MAS OPORTUNIDADES</button>
        </div>
      </div>
  </div>
</section>
<footer class="">
  <div class="container-fluid py-4" style="background:#141414">
    <div class="row">
      <div class="col-12">
        <h3 class="fuente text-white">Emprendedores</h3>
        <b><small class="text-white">Todos los derechos reservados por Emprendedores </small></b>
      </div>
    </div>
  </div>
</footer>