<section>
  <div class="top">
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex">
          <p class="mx-auto my-auto text-center">
            <button routerLink="/admin8291/nuevosQR">Agregar nueva seria QR</button>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex">
          <p class="mx-auto my-auto text-center">
            <button routerLink="/admin8291/listadoQR">Listado de series QR</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>