<section>
<div class="container">
  <div class="row">
    <div class="col-12">
        <button routerLink="/emprender/newitem">Agregar</button>
      <table class="table">
        <thead>
          <th>Nombre post</th>
          <th>Autor</th>
          <th>Editar</th>
          <th>Borrar</th>
        </thead>
        <tbody>
          <tr *ngFor="let x of listado">
          <td>{{x.titulo1}}</td>
          <td>{{x.autor}}</td>
          <td><button routerLink="/emprender/edititem/{{x.$key}}">Editar</button></td>
          <td><button (click)="Borrar(x.$key)">Borrar</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</section>
