<header>
<div class=" py-1 hd">
  <div class="container text-white">
    <div class="row">
      <div class="col-6">
        <h1 class="nobr title"> Alquileres en piriapolis </h1>
      </div>
      <div class="col-6 items">
        <h3 class="nobr pr">Propiedades</h3>
        <h3 class="nobr mr-5 pr">Piriapolis</h3>
        <h3 class="nobr mr-5 pr">Contacto</h3>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row xsa">
    <div class="col-12">
      <a>Ver propiedades</a>
    </div>
  </div>
</div>
</header>