@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

header{
    height: 100vh;
    background: url("https://a.travel-assets.com/findyours-php/viewfinder/images/res60/177000/177108-Piriapolis.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    filter: brightness(90%);
}
*{
    font-family: 'Fjalla One', sans-serif!important;
}
.nobr{
    display: inline!important;
}
.pr{
    float: right;
}
.title{
    font-size: 50px;
    text-shadow: 5px 2px 6px black;
}
.items > h3{
    border-bottom: 5px solid #ffab00;
    border-radius: 0px 0px 0px 10px;
    text-shadow: 2px 1px 1px black;
}
.items{
    padding-top: 12px;
}
.hd{
    background: #00000040;
}
.xsa{
    font-weight: bold;
    position: relative;
    top: 70vh;
    text-align: center;
    color: white;
    font-size: 25px;
}