<div class="py-4 b-shadow">
  <div class="container">
    <div class="row text-danger">
      <div class="col-6">
          <b class="h5">Nombre de marca</b>
      </div>
      <div class="col-md-6 display-none-mobile">
        <a class="mr-4 h5">Planes</a>
        <a class="mr-4 h5">Quienes somos</a>
        <a class="mr-4 h5">Denuncias</a>
      </div>
      <div class="col-md-6 col-6 d-flex">
        <b class="ml-auto my-auto d-flex bolder h4">Contactanos</b>
      </div>
    </div>
  </div>
</div>