@import url('https://fonts.googleapis.com/css?family=Abel');
div{
    font-family: 'Abel', sans-serif;
}
.bolder{
    font-weight: bolder;
}
.b-shadow{
    box-shadow:1px -7px 17px grey;
}
.display-none-mobile{
    display:initial;
}
@media screen and (max-width: 767px) {
    .display-none-mobile{
        display: none;
    }
}