<div class="container">
    <div class="row">
        <div class="col-12 text-center my-4">
            <h3>Aplicación desarrollada por Estudio APE con la colaboración de LibertaGrafica</h3>
            <p>Cual es el sentido de la aplicación acá</p>
        </div>
        <div class="col-12 text-center py-3">
            <h3>Nuestras webs</h3>
        </div>
        <div class="col-6 text-center">
            <i class="material-icons">language</i>
            <p>Pagina Web Estudio APE: <a> www.estudioape.com</a></p>
        </div>
        <div class="col-6 text-center">
            <i class="material-icons">language</i>
            <p>Pagina Web Estudio APE: <a> www.estudioape.com</a></p>
        </div>
        <div class="col-12 mt-4">
            <img src="/assets/images/logoqr.png" style="width: 100%;">
        </div>
    </div>
</div>