<section class="top">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
          <h2>¡Te registraste con exito!</h2>
          <h5>Estas a unos pasos de terminar la creación de tu tienda</h5>
          <h6>Acordate que esta plataforma es gratuita durante 15 días, luego tendrás que pagar una mensualidad de $229/mes.<br>
          </h6>
      </div>
    </div>
  </div>
</section>
<section class="bottom">
  <div class="container">
    <div class="row text-center mt-5">
      <div class="col-12">
        <h5>Información adicional para tu tienda</h5>
      </div>
          <form class="col-12">
            <div class="row text-center">
              <mat-form-field class="col-12 col-md-12 mx-auto">
                <input matInput type="text" placeholder="Link completo Instagram" name="ig" [(ngModel)]="redesSociales.instagram">
              </mat-form-field>
              <b *ngIf="boolI"><small class="text-danger">* Por favor escribi el link completo de tu Instagram, ejemplo: www.instagram.com/nombredemicuenta </small></b>
              <mat-form-field class="middle-width col-12 col-md-12 mx-auto">
                <input matInput type="text" placeholder="Link completo Facebook" name="fb" [(ngModel)]="redesSociales.facebook">
              </mat-form-field>
              <b *ngIf="boolF"><small class="text-danger">* Por favor escribi el link completo de tu Facebook, ejemplo: www.facebook.com/nombredemicuenta </small></b>
              <mat-form-field class="middle-width col-12 col-md-12 mx-auto">
                <input matInput type="text" placeholder="WhatsApp (1138489832)" name="wpp" [(ngModel)]="redesSociales.whatsapp">
              </mat-form-field>
      <div class="col-12">
        <button mat-raised-button color="primary" class="middle-width" (click)="SendInfo()">Ir a mi tienda</button>
      </div>
      </div>
    </form>
    </div>
  </div>
</section>