<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">
  <a class="navbar-brand " href="#">
    Chango Free
  </a>
 
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <button class="iniciar-sesion nav-link" data-toggle="modal" data-target="#exampleModal">Iniciar sesión</button>
      </li>
    </ul>
</div>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel"><b>Chango Free</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <mat-form-field class="col-12">
          <input matInput type="text" placeholder="Email" name="email" [(ngModel)]="email">
        </mat-form-field>
        <mat-form-field class="col-12">
          <input matInput type="password" placeholder="Contraseña" name="password" [(ngModel)]="password">
        </mat-form-field>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="validateAcount()">Iniciar sesion</button>
      </div>
    </div>
  </div>
</div>