<section style="padding-bottom:14vh">
    <div class="container">
        <div class="row fixed-t">
            <div class="col-12 text-center py-3 top">
                <h2>Pasate a Premium</h2>
                <p class="mb-0 mt-4">
                    <a href="{{linkMP}}" class="btn-premium h4">CAMBIAR A PREMIUM</a>
                </p>
                <p class="mt-3"><small>Se aplican los terminos y condiciones. <a style="color:#ffeb00"  routerLink="/terminos-y-condiciones">Más información</a></small></p>
            </div>
        </div>
        <div class="row mt-4 show">
            <div class="col-12 text-center">
                <h2>¿Que ofrece premium?</h2>
            </div>
            <div class="col-12 text-center ">
                <img src="/assets/images/editar.png" style="width:50%">
                <p class="h4"><b>Editá todos tus QR</b></p>
                <p class="h5">Modificá todo tus QR sin limitación</p>
            </div>
            <div class="col-12 text-center mt-5">
                <img src="/assets/images/contra.png" style="width:50%">
                <p class="h4"><b>Seguro para tu QR</b></p>
                <p class="h5">Agregá una contraseña para más seguridad</p>
            </div>
            <div class="col-12 text-center mt-5">
                <img src="/assets/images/expiracion.png" style="width:50%">
                <p class="h4"><b>Sin caducidad</b></p>
                <p class="h5">Tus QR no se vencen</p>
            </div>

            <div class="col-12 text-center mt-5">
                <img src="/assets/images/refer.png" style="width:50%">
                <p class="h4"><b>Sistema de referidos</b></p>
                <p class="h5">Agrega a tus amigos para que vean tus QR</p>
            </div>

            <div class="col-12 text-center mt-5">
                <img src="/assets/images/regalos.png" style="width:50%">
                <p class="h4"><b>Vende más</b></p>
                <p class="h5">Con los QR podes generar más ventas</p>
            </div>



        </div>
    </div>
</section>