<section style="padding-bottom:14vh">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center py-3 top">
        <h2>Pasate a Premium</h2>
        <p class="mb-0 mt-4">
          <button class="btn-premium h4">CAMBIAR A PREMIUM</button>
        </p>
        <p><small>Se aplican los terminos y condiciones. Más información</small></p>
      </div>
    </div>
    <div class="row mt-4 show">
      <div class="col-12 text-center">
        <h2>¿Que ofrece premium?</h2>
      </div>
      <div class="col-12 text-center">
        <img src="https://img.freepik.com/vector-gratis/diseno-error-404-lupa_23-2147739031.jpg?size=338&ext=jpg"
          style="width:50%">
        <p class="h4"><b>Editá todos tus QR</b></p>
        <p class="h5">Modificá todo tus QR sin limitación</p>
      </div>
      <div class="col-12 text-center mt-3">
        <img src="https://img.freepik.com/vector-gratis/diseno-error-404-lupa_23-2147739031.jpg?size=338&ext=jpg"
          style="width:50%">
        <p class="h4"><b>Seguro para tu QR</b></p>
        <p class="h5">Agregá una contraseña para más seguridad</p>
      </div>
      <div class="col-12 text-center mt-3">
        <img src="https://img.freepik.com/vector-gratis/diseno-error-404-lupa_23-2147739031.jpg?size=338&ext=jpg"
          style="width:50%">
        <p class="h4"><b>Variedad en un mismo QR</b></p>
        <p class="h5">Subi fotos y texto en un mismo QR</p>
      </div>
      

    </div>
  </div>
</section>