<div class="container card-top">
    <div class="row">
        <div class="col-12 mt-3 text-center">
            <h2 class="text-white">Cambiá tu contraseña de forma segura</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12 mt-3">
            <input type="email" class="text-center my-2" name="passwrod" [(ngModel)]="inputValueEmaildActualy" placeholder="Tu email actual">

            <input type="password" class="text-center my-2" name="passwrod" [(ngModel)]="inputValuePasswordActualy" placeholder="Tu contraseña actual">

            <input type="password" class="text-center my-2" name="passwrod" [(ngModel)]="inputValuePassword" placeholder="Escribí tu nueva contraseña">
            <p class="text-danger my-3" *ngIf="isError"> La contraseña debe tener almenos 6 caracteres. </p>
        </div>
        <div class="col-12 text-center mt-2">
            <button (click)="updateUserPassword()">Cambiar contraseña</button>
        </div>
    </div>
</div>
<div class="container my-3">
    <div class="row mt-3">
        <div class="col-12 text-center">
            <h3>Tu información está segura con nostros</h3>
            <p>Te recomendamos que tu nueva contraseña tenga caracteres especiales y números para aumentar su seguridad. Tus datos registrados seran almacenados de forma correcta.
                <br> También podes revisar nuestros <a routerLink="/terminios-y-condiciones">Terminos & Condiciones</a>
            </p>
        </div>
    </div>
</div>