<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h3 class="card-title">Chateando con clientes</h3>
            </div>
            <div class="card-body"> 
              <div class="row cont">
                <div class="col-12" *ngFor="let x of mensajes">
                          <div class="alert alert-info {{x.quien}}">
                            <span>
                              <b>{{x.quien}}:</b>
                                {{x.mensaje}}    
                              </span>
                          </div>
                </div>
              </div>
                <div class="col-12">
                  <form>
                  <mat-form-field>
                    <input matInput type="text" placeholder="Tu mensaje" name="msj" [(ngModel)]="mensaje">
                  </mat-form-field>
                  <button mat-raised-button color="primary" (click)="enviar()">Enviar</button>
                </form>
                </div>
            </div>
      </div>
    </div>