<div class="bg-left">

  <div class="row h100 text-white">
    <div class="col-md-12 text-center mt-3">
      <a class="h5"><img src="/assets/logoAlpha.png" style="width:70%"></a>
    </div>
    <div class="col-md-12 px-0">
      <mat-list class="text-white">
        <mat-list-item>
          <div class="input-group">
            <input type="text" placeholder="Categorias & Modelos" class="form-control" />
            <span class="input-group-addon" style="padding:6px 20px;">
              <i class="glyphicon glyphicon-search" style="position: relative;
                  right: 5px;
                  top: 3px;"></i>
            </span>
          </div>
        </mat-list-item>
        <mat-list-item><button mat-raised-button class="registro" data-toggle="modal" data-target="#iniciar">REGISTRATE</button></mat-list-item>
        <mat-list-item><button mat-raised-button class="registro" data-toggle="modal" data-target="#iniciar">
            INICIAR SESION </button></mat-list-item>
            <mat-list-item> Modelos <i class="material-icons  cp;" style="position: relative;
        top: 1px;">keyboard_arrow_right</i>
        </mat-list-item>
        <mat-list-item> Categorias <i class="material-icons  cp;" style="position: relative;
        top: 1px;">keyboard_arrow_right</i>
        </mat-list-item>

        <mat-list-item>
          <p class="text-center">Terminos y Condiciones </p>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="col-md-12">
      <!-- <button mat-raised-button class="registro mb-3">REGISTRATE</button>
  <button mat-raised-button class="registro"> INICIAR SESION  </button> -->
      <p class="text-center mt-4">
        <i class="fa fa-facebook-square" style="font-size:24px"></i>
        <i class="fa fa-instagram mx-3" style="font-size:24px"></i>
        <i class="fa fa-snapchat-square" style="font-size:24px"></i>
      </p>
    </div>
  </div>
</div>