@import url('https://fonts.googleapis.com/css?family=Quicksand');
*{
    font-family: 'Quicksand', sans-serif;
    color:#494949;
}
.top{
    background-color: #029af033;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle-width{
    width: 35%;
}