<div class="container-fluid" style="height:100vh">
  <div class="row" style="height:100vh">
    <div class="col-md-2 px-0 ">
      <app-side></app-side>
    </div>
    <div class="col-md-10 ">
      <div class="row">
        <div class="col-md-12 px-0 perfil d-flex" [style.background-image]="url">
          <div class="fondo-b">
            <div class="foto my-auto" style="margin-left:8rem;">
              <img src="/assets/252.jpg">
            </div>
            <div class="my-auto text-white" style="margin-left:8rem">
              <p class="text-white display-1 os title">CAMILA JEAN</p>
              <p class="display-4">Modelo de staff desde 23/12/2017</p>
              <p class="display-4">3 Packs</p>
              <p class="display-4">944 Likes</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row py-4">
        <div class="col-md-12 text-center">
          <p class="display-3">ESTE ES EL NOMBRE DEL ALBUM</p>
          <p class="display-4 text-muted">06/02/2019 • cronopia • PH parirecentauros </p>
        </div>
        <div class="col-md-12 bg-gray">
          <div class="row mt-5">
            <div class="col-md-3 pr-0">
              <img src="/assets/251.jpg" class="mr-2 mt-2" style="height:150px">
            </div>
            <div class="col-md-3  pr-0">
              <img src="/assets/252.jpg" class="mr-2 mt-2" style="height:150px">
            </div>
            <div class="col-md-3 pr-0">
              <img src="/assets/253.jpg" class="mr-2 mt-2" style="height:150px">
            </div>
            <div class="col-md-3">
              <div class="d-flex bg-dark" style="height:100%">
                <p class="mx-auto my-auto text-white"><b style="font-size:55px" class="mr-3">55</b><i class="material-icons"
                    style="font-size:55px;">photo_library</i></p>
              </div>
            </div>
          </div>
          <div class="row my-5">
            <div class="col-md-12 text-center my-5">
              <p class="display-4">PARA TENER ACCESO COMPLETO AL ALBUM DE 55 FOTOS Y PODER COMENTAR</p>
              <p>
                <button mat-raised-button class="display-4 mt-4" style="    background: #16a57f;
                  color: white;font-family: 'Oswald';    padding: 10px;
    border-radius: 50px;">PAGAR
                  AHORA $500 ARS</button>
              </p>
            </div>
          </div>
          <div classs="row mt-5">
            <div class="offset-2 col-md-8">
              <p class="display-4">SOBRE ESTE ALBUM</p>
              <p class="h2 text-muted">Espero que disfrutes tanto este set como disfrute yo haciéndolo! Simple y
                explicito, toda para vos 😉 Con tu compra viene regalito, como siempre! Pedimelo al dm @crono.ph.ia
                🖤💕</p>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row mt-5">
            <div class="col-md-12 text-center">
              <p class="display-4">TAGS:</p>
            </div>
            <div class="col-md-12 text-center">
              <button mat-raised-button class="mr-3 mt-2 btn-item"> PICANTE</button>
              <button mat-raised-button class="mr-3 mt-2 btn-item"> PICANTE</button>
              <button mat-raised-button class="mr-3 mt-2 btn-item"> PICANTE</button>
              <button mat-raised-button class="mr-3 mt-2 btn-item"> PICANTE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>