@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Heebo');
@import url('https://fonts.googleapis.com/css?family=Oswald');

.background-1{
    background-image: url('/assets/background-1.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* font-family: 'Heebo', sans-serif!important; */
    font-family: 'Oswald', sans-serif;

}
.font-hebo, section{
    /* font-family: 'Heebo', sans-serif!important; */
    font-family: 'Oswald', sans-serif;

}
.bolder{
    font-weight: bolder!important;
}
.icono-circula{
    display:flex; justify-content:center;background: white;border-radius: 50px!important;padding: 10px;
}
.modal-content{
    background:#f4f4f4!important;
}
.indice{
    box-shadow:0px 2px 5px grey;
    color: white;
    background: blue;
    border-radius: 1px 1px 1px 15px;
    padding: 10px;
    position: relative;
}
hr{
    width: 20%;
    border-top: 2px solid rgb(25, 139, 206);
}
.display-flex{
    display: flex;
    align-items: center;
    justify-content: right;
    justify-items: right;
    align-content: right;
    margin-left: auto;
}
.btn-crear{
    border: 1px solid white!important;
    background: white;
    color: #222;
    border: none;
    border-radius: 25px;
    font-size: 24px;
}
.btn-crear:hover{
    background: black;
    color:white;
}
.btn-saber:hover{
    background: white;
    color:black;
}
.btn-saber{
    background: transparent;
    color: #fff;
    border: 1px solid;
    border-radius: 25px;
    font-size: 24px;
}
.h-menu{
    height: 15vh;
}
.full-tam{
    max-width: 100%;
    max-height: 100%
}