<header class="background-1">
    <div class="container">
        <div class="row h-menu">
            <div class="col-6">
                <img src="/assets/logo.png" class="full-tam" alt="Crea tu tienda online con ChangoFree">
            </div>
            <div class="col-6 display-flex">
                <a class="ml-auto text-white" data-toggle="modal" data-target="#login"><i style="font-size: 40px;"
                        class="material-icons">account_circle</i><i class="material-icons" style="    position: relative;
                        top: -5px;
                    ">keyboard_arrow_down</i></a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                <h1 class="text-white bolder font-hebo">¡Creá tu tienda online desde tu celular!</h1>
                <h4 class="mb-5"><small class="text-white">Registrate ahora y disfrutá de 15 diás gratis.</small></h4>
            </div>
            <div class="col-12 display-flex">
                <button class="btn btn-outline-dark btn-saber mx-auto"> <a style="position: relative;top: -1px;color:white" routerLink="/blog">SABER
                        MÁS</a></button>
                <button class="btn btn-outline-info btn-crear mx-auto"> <a data-toggle="modal" data-target="#registro"
                        style="position: relative;top: -1px;">CREAR
                        TIENDA</a></button>
            </div>
        </div>
    </div>
    <div class="bg-dark mt-5 py-2" style="width:100%">
    </div>
</header>
<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="mt-5 h5">VENDÉ CON TU CELULAR</h2>
                <hr>
                <h2 class="mt-3 h5"><small>¡Podes realizar ventas y ofrecer envios desde tu celular!</small></h2>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6 text-center">
                <img src="/assets/1.png" style="width:100%" alt="Crea tu tienda online y ofrece MercadoEnvios">
                <div>MercadoEnvios</div>
            </div>
            <div class="col-6 text-center">
                <img src="/assets/2.png" style="width:100%" alt="Crea tu tienda online y ofrece MercadoPago">
                <div>MercadoPago</div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-center">
                <h5 class="mt-5">¿QUE MÁS PUEDO HACER?</h5>
                <hr>
                <h5 class="mt-3"><small>Podes llevar un control de stock, estadisticas e implementar herramientas
                        de Facebook.</small></h5>
            </div>
            <div class="col-12 text-center">
                <i class="material-icons mr-1" style="font-size: 100px;">timeline</i>
            </div>
        </div>
    </div>
</section>
<section class="background-1">
    <div class="container">
        <div class="row pb-5">
            <div class="col-12 mt-5 text-center">
                <h2 class="text-white h5">¿CÓMO CREO MI TIENDA?</h2>
                <hr>
            </div>
            <div class="col-12 display-flex">
                <span class="icono-circula">
                    <i class="material-icons" style="font-size:45px">spellcheck</i>
                </span>
                <h5 class="text-white pl-3"><small>Lo primero que tenes que hacer, es registrarte, podes hacer
                        <b data-toggle="modal" data-target="#registro">click acá</b></small></h5>
            </div>
            <div class="col-12 display-flex mt-4">
                <h5 class="text-white pr-3"><small>Una vez que te hayas registrado, te recomendamos que agreges
                        toda tu información de contacto. Ya podes empezar a personalizar tu web y subir tus
                        productos.</small></h5>
                <span class="icono-circula">
                    <i class="material-icons" style="font-size:45px">store</i>
                </span>
            </div>
            <div class="col-12 display-flex mt-4">
                <span class="icono-circula">
                    <i class="material-icons" style="font-size:45px">attach_money</i>
                </span>
                <h2 class="text-white pl-3 h5"><small>¡Ya tenes tu tienda online en 5 minutos, empezá a vender!</small></h2>
            </div>
        </div>
    </div>
</section>
<section class="py-5" style="background:#f0f0f0!important; position: relative;">
    <div class="container">
        <div class="row ">
            <div class="col-12 text-center">
                <h2 class="h5">Tu tienda online por $229/mes</h2>
                <hr>
            </div>
        </div>
        <div class="col-12 text-center">
        <h2 class="h5"><small>
                Empezá a vender por internet con una tienda online moderna y profesional ¡Sin contratos raros ni
                letras chicas!
            </small></h2>
        </div>
            <div class="col-12 mt-3" style="display:flex">

                <button class="btn btn-outline-info btn-crear mx-auto"> <a data-toggle="modal" data-target="#registro" style="position: relative;top: -1px;">CREAR
                        TIENDA</a></button>
                    </div>
    </div>
</section>
<section>
    <div class="container pb-5">
        <div class="row mt-5">
            <div class="col-12">
                <h2 style="color:#24a4cc;">¿Por qué ChangoFree?</h2>
            </div>
            <div class="col-12">
                <p class="h5"><small>ChangoFree se desarrollo enfocado principalmente a telefonos moviles, usando la ultima
                        tecnología en desarollo, para que la velocidad y la experiencia sea unica. Así cualquier
                        persona desde cualquier sitio puede empezar un emprendimiento desde su telefono movil, sin
                        necesidad de una computadora ni mucho conocimiento.</small></p>
            </div>
        </div>
    </div>
</section>
<footer style="background-color:#24a4cc;     border-top: 4px dashed white;">
    <div class="container">
        <div class="row">
            <div class="col-12 py-3 text-center">
                <img src="/assets/logo.png" style="height: 160px" class="full-tam" alt="Crea tu tienda online con ChangoFree">
            </div>
            <div class="col-12 text-white text-center">
                <p class="h6" routerLink="/terminos"><small>Terminos y condiciones</small></p>
                <p class="h5"><small>ChangoFree 2018 - Todos los derechos reservados</small></p>
                <hr style="border: 1px solid white!important">

            </div>
        </div>
    </div>
</footer>



<div class="modal fade" id="registro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Registro - Creando tu tienda</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <span>
                            <a class="indice"><i class="material-icons" style="position: relative;top: 6px;color: white; ">email</i></a>
                            <input type="email" name="algo" [(ngModel)]="clientObject.email" placeholder="Email" style="padding: 5.5px;width: 80%; border: 0px;    border-radius: 0px 5px 5px 0px;
                            box-shadow: 0px 1px 10px grey;">
                        </span>
                    </div>
                    <div class="col-12 mt-3">

                        <span>
                            <a class="indice"><i class="material-icons" style="position: relative;top: 6px;color: white; ">supervised_user_circle</i></a>
                            <input type="email" [(ngModel)]="clientObject.name" name="algo" placeholder="Nombre" style="padding: 5.5px;width: 80%; border: 0px;    border-radius: 0px 5px 5px 0px;
                                box-shadow: 0px 1px 10px grey;">
                        </span>
                    </div>
                    <div class="col-12 mt-3">

                        <span>
                            <a class="indice"><i class="material-icons" style="position: relative;top: 6px;color: white; ">verified_user</i></a>
                            <input type="email" [(ngModel)]="clientObject.marca" name="algo" placeholder="Nombre de marca"
                                style="padding: 5.5px;width: 80%; border: 0px;    border-radius: 0px 5px 5px 0px;
                                    box-shadow: 0px 1px 10px grey;">
                        </span>
                    </div>
                    <div class="col-12 mt-3">

                        <span>
                            <a class="indice"><i class="material-icons" style="position: relative;top: 6px;color: white; ">remove_red_eye</i></a>
                            <input type="password" [(ngModel)]="clientObject.password" name="algo" placeholder="Contraseña"
                                style="padding: 5.5px;width: 80%; border: 0px;    border-radius: 0px 5px 5px 0px;
                                        box-shadow: 0px 1px 10px grey;">
                        </span>
                    </div>
                    <div class="col-12 mt-3">
                        <h6><small>Al registrarte estas aceptando nuestros <b routerLink="/terminos" data-dismiss="modal"
                                    aria-label="Close">Terminos y Condiciones</b></small></h6>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="justify-content: center!important;">
                <button mat-raised-button class="max-width btn-crear-tienda" color="primary" data-dismiss="modal"
                    (click)="ValidateForm()">¡Creá tu tienda online!</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Iniciar sesión - Chango Free</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <span>
                            <a class="indice"><i class="material-icons" style="position: relative;top: 6px;color: white; ">email</i></a>
                            <input type="email" name="algo" [(ngModel)]="email" placeholder="Email" style="padding: 5.5px;width: 80%; border: 0px;    border-radius: 0px 5px 5px 0px;
                                box-shadow: 0px 1px 10px grey;">
                        </span>
                    </div>
                    <div class="col-12 mt-3">
                        <span>
                            <a class="indice"><i class="material-icons" style="position: relative;top: 6px;color: white; ">remove_red_eye</i></a>
                            <input type="password" name="algo" [(ngModel)]="password" placeholder="Contraseña" style="padding: 5.5px;width: 80%; border: 0px;    border-radius: 0px 5px 5px 0px;
                                    box-shadow: 0px 1px 10px grey;">
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="validateAcount()">Iniciar sesion</button>
            </div>
        </div>
    </div>
</div>