<section class="light-box">
    <div class="popup-white">
        <div class="title text-center">
            <h2>¡Pasate a premium!</h2>
        </div>
        <div class="body">
            <p class="text-center">Todos los QR que pertenezcan a cuentas Free se vencen en un plazo de 90 días. <br><b>¡Evitá que caduquen!</b></p>
            <p class="text-center"><button class="btn-s">Pasarme a premium</button></p>
            <p class="text-info text-center" (click)="closeModal()">Cerrar</p>
        </div>
    </div>
</section>