<!-- Navbar PC -->
<div class="navbar-pc">
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-md-6 center-center" style="justify-content: start;">
          <!-- <i class="material-icons">menu</i> -->
          <h5 class="fuente mb-0 ml-4" style="font-size: 24px;">Emprendedores</h5>
        </div>
        <!-- <div class="col-md-6 center-center">
          <a class="fuente">Ideas de negocio | Franquicias | Nosotros</a>
        </div> -->
        <div class="col-md-6 center-center" style="justify-content:flex-end">
          <i class="material-icons">search</i>
        </div>
      </div>
    </div>
  </div>

  <section>
    <div class="container">
      <div class="row mt-3">
        <div class="col-12">
          <p class="text-info">{{item.categoria}}</p>
          <h1 class="bold fuente">{{item.titulo1}}</h1>
          <h5 class="text-muted">{{item.descripcion1}}</h5>
       <hr>
        </div>
        <div class="col-12">
            <i class="fa fa-facebook-square mr-2" style="font-size: 35px;color: blue;"></i>
            <i class="fa fa-twitter-square mr-2" style="font-size: 35px;color: lightblue;"></i>
            <i class="fa fa fa-whatsapp mr-2" style="font-size: 35px;color: green;"></i>
            <a class="ml-auto text-info bold" style="float:right;     position: relative;
            top: 8px;">Siguiente articulo</a>
            <hr>
        </div>
      </div>
       <div class="col-12">
         <img src="{{item.imagen}}" style="width:100%">
       </div>
       <div class="col-12 py-3">
         <p><small class="text-muted">{{item.fecha}} </small></p>
       </div>
       <div class="col-12">
         <h3 class="bold fuente">{{item.titulo2}}</h3>
        </div>
             <div class="col-12">
               <p class="fuente" style="    line-height: 1.9rem;
               font-size: 1.1875rem;">{{item.descripcion2}}</p>
             </div>
             <div class="col-12">
               <h3 class="bold fuente">{{item.titulo3}}</h3>
              </div>
             <div class="col-12">
                <p class="fuente" style="    line-height: 1.9rem;
                font-size: 1.1875rem;">{{item.descripcion3}}
                 </p>
                </div>
                <div class="col-12">
                    <h3 class="bold fuente">{{item.titulo4}}</h3>
                   </div>
        <div class="col-12">
            <p class="fuente" style="    line-height: 1.9rem;
            font-size: 1.1875rem;">{{item.descripcion4}}</p>
          </div>
          <div class="col-12">
            <p><small>{{item.autor}}</small></p>
          </div>
    </div>  
  </section>
  <footer class="mt-5">
      <div class="container-fluid py-4" style="background:#141414">
        <div class="row">
          <div class="col-12">
            <h3 class="fuente text-white">Emprendedores</h3>
            <b><small class="text-white">Todos los derechos reservados por Emprendedores </small></b>
          </div>
        </div>
      </div>
    </footer>