<section>
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2>Editar post</h2>
        </div>
        <div class="col-12">
          <b>Imagen: </b>
          <img src="{{newBlog.imagen}}" style="width:100%">
          <label class="labelFile-t text-center" id="labelFile-t">
              CAMBIAR PORTADA
              <input type="file" id="upload-file" (change)="selectFile($event)">
            </label>
        </div>
        <div class="col-12">
          <input type="text" placeholder="Titutlo principal" style="width:100%" name="toot" [(ngModel)]="newBlog.titulo1">
        </div>
        <div class="col-12 mt-1">
          <textarea type="text" placeholder="Breve resumen" style="width:100%;height: 150px;" name="toot" [(ngModel)]="newBlog.descripcion1"></textarea>
        </div>
        <div class="col-12">
          <input type="text" placeholder="Titutlo 2" style="width:100%" name="toot" [(ngModel)]="newBlog.titulo2">
        </div>
        <div class="col-12 mt-1">
          <textarea type="text" placeholder="Descripcion para titulo 2" style="width:100%;height: 250px;" name="toot" [(ngModel)]="newBlog.descripcion2"></textarea>
        </div>
        <div class="col-12">
            <input type="text" placeholder="Titutlo 3" style="width:100%" name="toot" [(ngModel)]="newBlog.titulo3">
          </div>
          <div class="col-12 mt-1">
            <textarea type="text" placeholder="Descripcion para titulo 3" style="width:100%;height: 250px;" name="toot" [(ngModel)]="newBlog.descripcion3"></textarea>
          </div>
          <div class="col-12">
              <input type="text" placeholder="Titutlo 4 " style="width:100%" name="toot" [(ngModel)]="newBlog.titulo4">
            </div>
            <div class="col-12 mt-1">
              <textarea type="text" placeholder="Descripcion para titulo 4" style="width:100%;height: 250px;" name="toot" [(ngModel)]="newBlog.descripcion4"></textarea>
            </div>
            <div class="col-12">
              <select (change)="doEvent($event.target.value)">
                <option value="Curiosidades">Curiosidades</option>
                <option value="Ideas de negocio">Ideas de negocio</option>
                <option value="Destacada">Destacada</option>
                <option value="Cursos">Cursos</option>
                <option value="Debates">Debates</option>
              </select>
            </div>
            <div class="col-12">
                <input type="text" placeholder="Autor " style="width:100%" name="toot" [(ngModel)]="newBlog.autor">
              </div>
              <div class="col-12">
                  <input type="text" placeholder="Fechad de publicación " style="width:100%" name="toot" [(ngModel)]="newBlog.fecha">
                </div>
      </div>
    </div>
    <button (click)="upload()">Editar</button>
  </section>