<h2>Informar noticias a nuestros clientes</h2>
<b>Nueva noticia:</b> 
<mat-form-field class="ml-3" style="width:50%">
  <input type="text" matInput placeholder="Nueva noticia..." name="noti" [(ngModel)]="Notificacion">
</mat-form-field>
<button mat-button-raised color="primary" (click)="newNotification()" >Enviar</button>
<div class="alert alert-success" *ngFor="let x of listNotificaciones">
  <button button-mat-raised class="mr-4" color="primary" (click)="deleteNotificacion(x.$key)">Borrar notificacion</button>
  <strong>¡Notifiacion!</strong> {{x.mensaje}}.
</div>