<!-- ***************** MOBILE LAYOUT ***********************-->

<header>
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex title text-center text-white">
        <h2 class="my-auto mx-auto">FUNCIONES QR</h2>
      </div>
      <div class="col-12 px-0 img-qr d-flex">
        <div class="my-auto mx-auto" style="height:100%;">
          <img src="/assets/images/ads.png" style="height:100%;max-width: 100%;">
        </div>
      </div>
      <div class="col-12 d-flex text-bottom">
        <div class="mx-auto text-white my-auto ">
          <p class="text-center"><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b></p>
          <p class="text-center">Pellentesque dapibus in orci ut cursus. In volutpat placerat nulla sed efficitur.</p>
        </div>
      </div>
      <div class="col-12 d-flex buttons">
        <div class="my-auto mx-auto">
          <p class="text-center">
            <button class="btn-one" routerLink="/login">Iniciar sesion</button>
          </p>
          <p class="text-center">
            <button class="btn-two" routerLink="/registro">Registrarse</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</header>