@import url('https://fonts.googleapis.com/css?family=Aleo');

*{
    font-family: 'Aleo', serif;
}
.bold{
    font-weight: bold;
}
.cf-top{
    background: #198bce;
    color: white;
    position: sticky;
    top: 0px;
    z-index: 999;
    width: 100%;
}
.btn-outline-info{
    border-color: white!important;
    color: white!important;
}
.cp{
    cursor: pointer;
}