<header class="header-top">
  <section class="bg-header">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 h-100 display-flex-center-end">
          <h2 class="title-blog">CHANGO FREE ACADEMY</h2>
        </div>
      </div>
    </div>
  </section>
</header>

<section>
  <div class="container">
    <div class="row py-4">
      <div class="col-12 text-center">
        <b class="h3">BLOG - Topics más recientes</b>
      </div>
    </div>
    <div class="row">
      <div class="col-12 px-1 mb-3" *ngFor="let x of listBlog">
        <div class="text-center  card px-4" style="text-align:justify!important">
          <div style="width:100%; display:flex;">
            <i class="material-icons f-70 mx-auto mt-3">bookmarks</i>
          </div>
          <p class="h5 text-center mt-2">{{x.title1 | changeline}}</p>
          <p><small>
              {{x.descripcion1}}
            </small></p>
          <button class="mx-auto btn btn-info mt-2" routerLink="/entradas/{{x.title1}}">Ver más</button>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="mt-4" style="background-color:#24a4cc;     border-top: 4px dashed white;">
    <div class="container">
      <div class="row">
        <div class="col-12 py-3 text-center">
          <img src="/assets/logo.png" style="height: 160px" class="full-tam">
        </div>
        <div class="col-12 text-white text-center">
          <h6 routerLink="/terminos"><small>Terminos y condiciones</small></h6>
          <h5><small>ChangoFree 2018 - Todos los derechos reservados</small></h5>
          <hr style="border: 1px solid white!important">
        </div>
      </div>
    </div>
  </footer>