.top{
    font-weight: bold;
    background: #3f87ff;
    border-radius: 0px 0px 50px 50px;
    box-shadow: 0px 0px 9px -1px black;
    color: white;
}
section{
    background-color:#eee;
    min-height: 100vh;
}
.one{
    background: #00a5ff;
    color: white;
    border: 0;
    padding: 15px;
    width: 90%;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0px 0px 15px -2px grey;
}
.two{
    background:white;
    color: #00a5ff;
    border: 0;
    padding: 15px;
    width: 90%;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0px 0px 15px -2px grey;
}