<div class="py-3 px-3" style="    background-color: #5e5eff;
position: fixed;
width: 100%;
top: 0;
z-index: 1;">
  <a class="text-white d-flex" routerLink="/login"><i class="material-icons d-flex">arrow_back</i> <b style="position: relative;    top: 2px;
    left: 7px;">Volver al login</b></a>
</div>
<div class="container mt-5">
  <div class="row mt-4">
    <div class="col-12">

      <h1>Declaración de derechos y responsabilidades</h1>
      <p>
        Al usar o acceder a uQR.me, usted acepta esta Declaración.
        1.Privacidad
        Su privacidad es muy importante para nosotros. Diseñamos nuestra Política de privacidad para hacer divulgaciones
        importantes sobre cómo puede usar uQR.me para compartir con otros y cómo recopilamos y podemos usar su contenido
        e información. Le recomendamos leer la Política de privacidad y usarla para tomar decisiones informadas.
        2. Compartir su contenido e información
        Usted es propietario de todo el contenido y la información que publica en uQR.me, y puede controlar cómo se
        comparte a través de su configuración de privacidad y además:
        Para el contenido que está cubierto por derechos de propiedad intelectual, como fotos y videos ("contenido de
        IP"), usted nos otorga específicamente el siguiente permiso, sujeto a su Política de privacidad: nos otorga una
        regalía no exclusiva, transferible y con licencia. - licencia mundial gratuita para usar cualquier contenido de
        IP que publique en o en conexión con uQR.me ("Licencia de IP"). Esta licencia de IP finaliza cuando borra su
        contenido de IP o su cuenta a menos que su contenido haya sido compartido con otros y no lo hayan eliminado.
        Cuando elimina el contenido de IP, se elimina de una manera similar a vaciar la papelera de reciclaje en una
        computadora. Sin embargo, entiende que el contenido eliminado puede persistir en las copias de respaldo por un
        período de tiempo razonable (pero no estará disponible para otros).
        Cuando publica contenido o información utilizando la configuración de "todos", significa que está permitiendo
        que todos, incluidas las personas fuera de uQR.me, accedan y utilicen esa información y la asocien con usted.
        Siempre apreciamos sus comentarios u otras sugerencias sobre uQR.me, pero entiende que podemos usarlos sin
        ninguna obligación de compensarlo (de la misma manera que no tiene la obligación de ofrecerlos).
        3. Seguridad
        Hacemos todo lo posible para mantener a salvo uQR.me, pero no podemos garantizarlo. Necesitamos su ayuda para
        hacer eso, que incluye los siguientes compromisos:
        No enviará ni publicará comunicaciones comerciales no autorizadas (como spam) en uQR.me.
        No recopilará el contenido o la información de los usuarios ni, de lo contrario, accederá a uQR.me utilizando
        medios automatizados (como robots de recolección, robots, arañas o raspadores) sin nuestro permiso.
        No se involucrará en marketing ilegal de múltiples niveles, como un esquema piramidal, en uQR.me.
        No subirás virus u otro código malicioso.
        No solicitará información de inicio de sesión ni accederá a una cuenta que pertenezca a otra persona.
        No le harás bullying, intimidarás o acosarás a ningún usuario.
        No publicarás contenido que sea: odioso, amenazador o pornográfico; incita a la violencia; O contiene desnudos o
        violencia gráfica o gratuita.
        No utilizará uQR.me para hacer nada ilegal, engañoso, malicioso o discriminatorio.
        No hará nada que pueda desactivar, sobrecargar o impedir el funcionamiento adecuado de uQR.me, como un ataque de
        denegación de servicio.
        No facilitará ni fomentará ninguna violación de esta Declaración.
        4.Los
        usuarios de uQR.me de registro y seguridad de la cuenta proporcionan sus nombres reales e información, y
        necesitamos su ayuda para que siga siendo así. Estos son algunos compromisos que usted nos hace relacionados con
        el registro y el mantenimiento de la seguridad de su cuenta:
        No proporcionará ninguna información personal falsa en uQR.me, ni creará una cuenta para otra persona que no sea
        usted sin permiso.
        Si deshabilitamos su cuenta, no creará otra sin nuestro permiso.
        No utilizarás uQR.me si tienes menos de 13 años.
        Mantendrá su información de contacto precisa y actualizada.
        No compartirá su contraseña, no permitirá que nadie más acceda a su cuenta o hará cualquier otra cosa que pueda
        poner en peligro la seguridad de su cuenta.
        No transferirá su cuenta a nadie sin obtener primero nuestro permiso por escrito.
        Si selecciona un nombre de usuario para su cuenta, nos reservamos el derecho de eliminarlo o reclamarlo si lo
        consideramos adecuado (por ejemplo, cuando el propietario de una marca comercial se queja sobre un nombre de
        usuario que no se relaciona estrechamente con el nombre real del usuario).
        5. FACTURACIÓN, PAGO Y OTRAS SUSCRIPCIONES
        TODOS LOS CARGOS INCURRIDOS, Y TODAS LAS COMPRAS REALIZADAS TIENEN UN REEMBOLSO DEL 100% EN UN PLAZO DE 7 DÍAS,
        DESPUÉS DE ESTE TIEMPO, NO HAY UN REEMBOLSO EN TODOS, SIN ADJUDICARSE CON EL MÉTODO DE PAGO, EXCEPTO
        EXPRESAMENTE. EN ESTE ACUERDO.
        SI ES UN SUSCRIPTOR DE LA UE, TIENE DERECHO A RETIRARSE DE UNA TRANSACCIÓN DE COMPRA POR CONTENIDO DIGITAL SIN
        CARGO Y SIN DAR NINGUNA RAZÓN HASTA QUE EL ENVÍO DE DICHO CONTENIDO HA COMENZADO O EL RENDIMIENTO DEL SERVICIO
        SE HA COMUNICADO. NO TIENE DERECHO A RETIRARSE DE UNA TRANSACCIÓN U OBTENER UN REEMBOLSO UNA VEZ QUE SE HA
        INICIADO EL CONTENIDO O QUE SE HA INICIADO EL RENDIMIENTO DEL SERVICIO, EN QUE PUNTO SU PUNTO DE TRANSACCIÓN ES
        FINAL. USTED ACEPTA QUE LA ENTREGA DEL CONTENIDO DIGITAL Y LA SUSCRIPCIÓN ASOCIADA, Y / O EL RENDIMIENTO DEL
        SERVICIO ASOCIADO, COMIENZOS AL MOMENTO, EL CONTENIDO DIGITAL SE AGREGA A SU CUENTA O INVENTARIO O DE OTRA
        MANERA ACCESO DIRECTO PARA USTED, DESCARGADO O USO.
        SI MOBILE LEAVES CORP NO PUEDE DAR EL SERVICIO DEBIDO A RAZONES ECONÓMICAS, LAS CUENTAS DE TODA LA VIDA SE
        REEMBOLSARÁN DE ACUERDO A LA SIGUIENTE ESCALA: CUENTAS DE UN AÑO EN LA EDAD DE EDAD / PESO En el caso de la
        persona o la mujer, en el caso de las personas que se encuentren en el hogar. Y TRES AÑOS DE EDAD DEL 30%,
        CUENTAS ENTRE TRES Y CUATRO AÑOS DE EDAD DEL 10%, CUENTAS ENTRE CUATRO Y CINCO AÑOS DE EDAD DEL 0%.
        A. Autorización de pago
        Cuando proporciona información de pago a uno de nuestros procesadores de pago, declara que usted es el usuario
        autorizado de la tarjeta, PIN, clave o cuenta asociada con ese pago, y autoriza a cargar su tarjeta de crédito o
        procesar su pago con el Procesador de pagos de terceros elegido para cualquier suscripción u otras tarifas en
        las que incurra usted. Los procesadores de pagos pueden exigirle que proporcione su dirección u otra información
        para cumplir con la obligación de Mobile Leaves Corp. conforme a la legislación fiscal aplicable.
        Para las suscripciones compradas en base a un período de uso acordado, donde los pagos recurrentes se realizan a
        cambio del uso continuo ("Suscripciones de pago recurrente"), al continuar usando la Suscripción de pago
        recurrente que acepta y reafirma que Mobile Leaves Corp está autorizada a cobrar su crédito. o para procesar su
        pago con cualquier otro procesador de pago de terceros aplicable, por cualquier monto de pago recurrente
        aplicable. Si ha comprado suscripciones de pago recurrente, acepta notificar a Mobile Leaves Corp. de inmediato
        cualquier cambio en su número de cuenta de tarjeta de crédito, su fecha de vencimiento y / o su dirección de
        facturación, o su número de cuenta de pago de PayPal u otro, y usted acepta para notificar con prontitud si su
        tarjeta de crédito o PayPal u otra cuenta de pago caduca o se cancela por cualquier motivo.
        Si su uso de uQR.me está sujeto a cualquier tipo de uso o impuesto a las ventas, entonces Mobile Leaves Corp.
        también puede cobrarle esos impuestos, además de la Suscripción u otras tarifas de QR publicadas en las Reglas
        de uso. Los impuestos sobre el IVA de la Unión Europea ("IVA") recaudados por Mobile Leaves Corp. reflejan el
        IVA adeudado sobre el valor de cualquier Software o Suscripción.
        Acepta que no utilizará el proxy de IP u otros métodos para disfrazar el lugar de su residencia, para comprar a
        precios no aplicables a su geografía, o para cualquier otro propósito. Si hace esto, podemos cancelar su acceso
        a su Cuenta.
        B. Responsabilidad por los cargos asociados con su cuenta
        Como titular de la Cuenta, usted es responsable de todos los cargos incurridos, incluidos los impuestos
        aplicables, y todas las compras realizadas por usted o por cualquier persona que utilice su Cuenta, incluidos
        sus familiares o amigos. Si cancela su cuenta, Mobile Leaves Corp. se reserva el derecho de cobrar tarifas,
        recargos o costos incurridos antes de la cancelación. Cualquier cuenta morosa o impaga debe liquidarse antes de
        que uQR.me le permita registrarse de nuevo.
        C. Suscripciones gratuitas
        uQR.me ofrece una suscripción gratuita a ciertos servicios y contenidos. Al igual que con todas las
        Suscripciones, usted siempre es responsable de cualquier proveedor de servicios de Internet, teléfono y otras
        tarifas de conexión en las que pueda incurrir al usar uQR.me, incluso cuando uQR.me ofrece una Suscripción
        gratuita.
        D. Sitios de terceros - problemas de propiedad intelectual
        uQR.me puede proporcionar enlaces a otros sitios de terceros. Algunos de estos sitios pueden cobrar tarifas
        separadas, que no están incluidas en y son adicionales a cualquier Suscripción u otras tarifas que usted pueda
        pagar a Mobile Leaves Corp. También puede proporcionar acceso a proveedores externos, que proporcionan
        contenido, bienes y / o o servicios en internet. Cualquier cargo u obligación por separado que incurra en sus
        tratos con estos terceros es su responsabilidad. Mobile Leaves Corp. no hace ninguna representación o garantía,
        ya sea expresa o implícita, con respecto a cualquier sitio de terceros. En particular, Mobile Leaves Corp. no
        declara ni garantiza que ningún servicio o suscripción ofrecida a través de proveedores externos no se
        modifique, suspenda o cancele. Mobile Leaves Corp proporciona software como servicio que crea y administra
        códigos QR,
        E. Caducidad
        Una vez que su cuenta uQR.me caduque debido a la falta de pago, se desactivarán los códigos QR asociados con esa
        cuenta. Esto implica que las opciones de redireccionamiento de dichos códigos QR no estarán disponibles. Sin
        embargo, puede reactivar los códigos QR renovando su suscripción en cualquier momento.
        6. Proteger los derechos de
        otras personas Respetamos los derechos de otras personas y esperamos que usted haga lo mismo.
        No publicará contenido ni realizará ninguna acción en uQR.me que infrinja o viole los derechos de otra persona o
        que de otro modo infrinja la ley.
        Podemos eliminar cualquier contenido o información que publique en uQR.me si consideramos que viola esta
        Declaración.
        Si cree que se están infringiendo sus derechos de propiedad intelectual, contáctenos en support@uqr.me.
        Si eliminamos su contenido por infringir los derechos de autor de otra persona y cree que lo eliminamos por
        error, le brindaremos la oportunidad de apelar enviándonos un correo electrónico a support@uqr.me.
        Si infringe repetidamente los derechos de propiedad intelectual de otras personas, deshabilitaremos su cuenta
        cuando corresponda.
        No utilizará nuestros derechos de autor o marcas comerciales (es decir, uQR.me Logos), ni ninguna otra marca
        confusamente similar, sin nuestro permiso por escrito.
        Si recopila información de los usuarios, usted: obtendrá su consentimiento, dejará en claro que usted (y no
        uQR.me) es quien recopila su información, y publicará una política de privacidad que explique qué información
        recopila y cómo la utilizará.
        No publicará documentos de identificación o información financiera confidencial de nadie en uQR.me.
        No enviará invitaciones por correo electrónico a no usuarios sin su consentimiento.
        7. Disputas
        Usted resolverá cualquier reclamo, causa de acción o disputa ("reclamo") que tenga con nosotros que surja de o
        esté relacionado con esta Declaración o uQR.me exclusivamente en un tribunal federal de Delaware ubicado en los
        Estados Unidos. Las leyes de Delaware regirán esta Declaración, así como cualquier reclamo que pueda surgir
        entre usted y nosotros, sin tener en cuenta el conflicto de disposiciones legales. Usted acepta someterse a la
        jurisdicción personal de los tribunales ubicados en Delaware, EE. UU., Con el fin de litigar todos los reclamos
        de este tipo.
        Si alguien presenta un reclamo contra nosotros relacionado con sus acciones, contenido o información en uQR.me,
        usted nos indemnizará y nos eximirá de toda responsabilidad por daños, pérdidas y gastos de cualquier tipo
        (incluidos los honorarios y costos legales razonables) relacionados con tal reclamo
        Tratamos de mantener uQR.me activo, libre de errores y seguro, pero usted lo utiliza bajo su propio riesgo.
        Proporcionamos uQR.me "tal como está" sin ninguna garantía expresa o implícita, incluidas, entre otras,
        garantías implícitas de comercialización, idoneidad para un fin particular y no infracción. No garantizamos que
        uQR.me sea seguro. uQR.me no es responsable de las acciones, el contenido, la información o los datos de
        terceros, y usted nos libera, a nuestros directores, funcionarios, empleados y agentes de reclamaciones y daños,
        conocidos y desconocidos, derivados de o en cualquier Manera conectada con cualquier reclamación que tenga
        contra terceros. No seremos responsables ante usted por cualquier pérdida de beneficios u otros daños
        consecuentes, especiales, indirectos o incidentales que surjan de o en conexión con esta declaración o uQR.me,
        En el caso de una solicitud de reembolso de un módulo Premium, se procederá si hay un problema adecuado, como
        que el sistema no funciona o hay funcionalidades que no funcionan, etc. y el reembolso se solicita antes de las
        24 hs. Transcurridos desde el registro o pago.
        8. Disposiciones especiales aplicables a usuarios fuera de los EE
        . UU. Nos esforzamos por crear una comunidad global con estándares coherentes para todos, pero también nos
        esforzamos por respetar las leyes locales. Las siguientes disposiciones se aplican a los usuarios fuera de EE.
        UU.:
        Usted acepta que sus datos personales se transfieran y procesen en cualquier país del mundo.
        9.Definiciones
        Por "uQR.me" nos referimos a las funciones y servicios que ponemos a su disposición, incluso a través de (a)
        nuestro sitio web en https://uQR.me y cualquier otro sitio web con marca uQR.me o marca compartida (incluidos
        subdominios, internacional versiones, widgets, y versiones móviles); (b) nuestra Plataforma; y (c) otros medios,
        software, dispositivos o redes ya existentes o desarrollados posteriormente.
        Por "nosotros", "nosotros" y "nuestro" queremos decir uQR.me
        Por "contenido" nos referimos a cualquier cosa que publique a través de su enlace QR.
        Por "punto" nos referimos a la acción de escanear un código QR en cualquier lugar.
        Por "QRlink" nos referimos a la URL a la que eligió su QR para ser dirigido.
        Por “ID virtual” nos referimos al código QR que representa a su usuario en uQR.me
        10.Otros
        Esta Declaración constituye el acuerdo completo entre las partes con respecto a uQR.me y reemplaza cualquier
        acuerdo anterior.
        Si se determina que alguna parte de esta Declaración no se puede hacer cumplir, la parte restante permanecerá en
        pleno vigor y efecto.
        Si no aplicamos esta Declaración, no se considerará una exención.
        Cualquier enmienda o renuncia a esta Declaración debe hacerse por escrito y estar firmada por nosotros.
        No transferirá ninguno de sus derechos u obligaciones en virtud de esta Declaración a nadie más sin nuestro
        consentimiento.
        Todos nuestros derechos y obligaciones en virtud de esta Declaración pueden ser cedidos libremente por nosotros
        en relación con una fusión, adquisición o venta de activos, o por ley o de otra forma.
        Nada en esta Declaración nos impedirá cumplir con la ley.
        Esta Declaración no confiere derechos de terceros beneficiarios.
        También puede revisar los siguientes documentos:
        Política de privacidad : la Política de privacidad está diseñada para ayudarlo a comprender cómo recopilamos y
        utilizamos la información.


      </p>
    </div>
  </div>
</div>