<header>
  <div class="container">
    <div class="row">

      <div class="col-2">
        <i class="material-icons">menu</i>
      </div>
      <div class="col-2">
        <i class="material-icons">menu</i>
      </div>
      <div class="col-4"></div>
      <div class="btn-add">
          <i class="material-icons">add</i>
      </div>
      <div class="col-2">
        <i class="material-icons">menu</i>
      </div>
      <div class="col-2">
        <i class="material-icons">menu</i>
      </div>
    </div>
  </div>
</header>