<header class="header-top">
  <section class="bg-header">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 h-100 display-flex-center-end">
          <h2 class="title-blog">CHANGO FREE ACADEMY</h2>
        </div>
      </div>
    </div>
  </section>
</header>
<section class="bg-fondo">
  <div class="container pb-5">
    <div class="row pt-5">
      <div class="col-12 text-center ">
        <h3>Cursos & Recursos</h3>
        <hr>
      </div>
    </div>
    <div class="row mt-4 pb-4">
      <div class="col-6 ">
        <div class="text-center cp card center-center" routerLink="/entradas">
          <i class="material-icons f-70">assignment</i>
          <p class="h3">Cursos</p>
        </div>
      </div>
      <div class="col-6 ">
        <div class="text-center cp card center-center" routerLink="/entradas">
          <i class="material-icons f-70">bookmarks</i>
          <p class="h3" >Blog</p>
        </div>
      </div>
      <div class="col-6 mt-5 ">
          <a href="https://wa.me/541138459621">
            <div class="text-center cp card center-center">
              <i class="material-icons f-70">bug_report</i>
              <p class="h3">Ayuda & Soporte</p>
            </div>
          </a>
        </div>
      <div class="col-6 mt-5 ">
        <a href="https://wa.me/541138459621">
          <div class="text-center cp card center-center">
            <i class="material-icons f-70">bug_report</i>
            <p class="h3">Ayuda & Soporte</p>
          </div>
        </a>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        <h2><b>Estamos trabajando para mejorar la plataforma y tu experiencia.</b></h2>
        <p>Nuestro objetivo es seguir mejorando día a día para que tu experiencia sea única, y que, cada vez que hagamos una actualización, tu tienda sea mucho más profesional.</p>
      </div>
    </div>
  </div>
</section>

<footer style="background-color:#24a4cc;     border-top: 4px dashed white;">
  <div class="container">
    <div class="row">
      <div class="col-12 py-3 text-center">
        <img src="/assets/logo.png" style="height: 160px" class="full-tam">
      </div>
      <div class="col-12 text-white text-center">
        <h6 routerLink="/terminos"><small>Terminos y condiciones</small></h6>
        <h5><small>ChangoFree 2018 - Todos los derechos reservados</small></h5>
        <hr style="border: 1px solid white!important">
      </div>
    </div>
  </div>
</footer>