header {
    display: none;
}

@media screen and (max-width:768px) {
    header {
        box-shadow: inset 0px -6px 35px -15px black;
        color: white;
        display: block;
        min-height: 40vh;
        background-image: linear-gradient(156deg, #00beff, #4d4dff);
        /* background-image: linear-gradient(#0da9fa,#1a88a5); */
        border-radius: 0px 0px 25px 25px;
        animation: top 1s;
    }
    @keyframes top {
        0% {
            transform: translate(0, -100%)
        }
        100% {
            transform: translate(0, 0%)
        }
    }
    img {
        width: 50%;
    }
    p {
        font-size: 17px;
        border-bottom: 1px solid #dcdcdc45;
        padding: 10px 0px;
    }
}