/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Oswald');

body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px grey;
    background: white;
}
 
body::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1px solid slategrey;

}
body{
    overflow-x: hidden;
    font-family: 'Oswald', sans-serif;
}
.cp{
    cursor: pointer!important;
}