<table class="table table-dark">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>H/Fecha</th>
        <th>Marca</th>
        <th class="text-center" style="width: 20px">Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of listClient">
        <td>{{x.name}}</td>
        <td>{{x.email}}</td>
        <td>{{x.hasta}}</td>
        <td>{{x.marca}}</td>
        <td><button mat-raised-button color="primary" (click)="moreDay(x)">Dar más dias</button></td>
      </tr>
    </tbody>
  </table>