@import url('https://fonts.googleapis.com/css?family=Oswald');





@font-face {
    font-family: Prototype;
    src: url('/assets/Prototype.ttf')
}
@media screen and (max-width: 768px) {
    .menu{
        display: flex!important;
    }
    .db-hide{
        position: absolute;
        top: 0;
        z-index: 9;
    }
    .display-x{
        height: 150px!important;
    }
    .f-32{
        font-size: 50px!important;
    }
    .clear{
        display: block!important;
        color: white;
        font-size: 50px;
        position: absolute;
        left: 86%;
        z-index:99;
    }
}

.clear{
    display: none;
}
.menu{
    display: none;
}
.bg-negro{
    background: #202020
}
.btn-inicio{
    background: blue;
    color: white;
    font-size: 16px;
    border: 0px;
    width: 100%;
}
.mat-list-item,button{
    color: white;
 font-family: 'Oswald', sans-serif;
}
.modal-body,.os{
    font-family: 'Oswal',sans-serif;
}
.bg-left{
    background-color: #000000e0!important;
    border-radius: 4px;
}
.registro{
    width: 100%;
    color: black;
    font-size: 16px;
}

.padding-x{
    padding-left: 15px;
    padding-right: 15px;
}
input{
    background:#f2f2f2;
    padding: 5px;
    width: 100%;
}
.categotia{
    width: 100%;
    background: #eaeaea;
    padding: 10px;
    border: 1px solid #d4d4d4;
}
.item-nav{
    padding-left: 15px;
    border-top: 1px solid #161616cc;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0%;
}
.afuera-left{
    background: #53007b;
    clip-path: polygon(0% -400%, 0% 100%, 95% 100%);
}
.afuera-r{
    background: #53007b;
    clip-path: polygon(100% -394%, 5% 100%, 100% 100%);
}
.oscur{
    background:#00000069
}
.item-img{
    height: 100%;
}
.form-control{
    font-size: 1.4rem!important;
}
.display-x{
    max-height: 100px;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    height: 80px;
    padding: 5px;
    box-shadow:inset 22px 12px 14px 4px #000000;
    white-space: nowrap;
}

.bg-dark{
    background: #00000091!important;
}
.f-32{
    font-size:32px;
}
.album{
    color: rgba(255, 255, 255, 0.87);
    background-color: #0b0b0b;
}
.cont-img{
    height: 100px;
    display: inline;
    padding: 3px;
}
.cp{
cursor: pointer;
}
header{
 /* font-family: 'Prototype'; */
 font-family: 'Oswald', sans-serif;

 height: 100vh;
 background-image: url("/assets/253.jpg");
 background-size: cover;
 background-position: center center;

}
.fondo-t{
    background: #00000091;
    height: 100%;
    width: 100%;
}
.title-model{
    font-size: 70px;
}
.h100{
    height: 100%;
}
.text-w{
    color:#ebebeb!important;
}
.w50{
    width: 50%;
}
.bg-tarjeta{
    padding: 3rem!important;
}
.f-veralbum{
    font-size: 32px;
}
.bg-x{
    background: #480055c2
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
.db-hide{
    display: block
}
