<header>
  <div class="h100 oscur">

    <div class="container-fluid h100">
      <div class="row h100 py-3">
        <div class="col-12 menu">
          <i class="material-icons ml-auto text-white" style="font-size:45px;" *ngIf="!Menu" (click)="Menu = true">menu</i>
        </div>
        <div class="col-md-2 bg-left db-hide" *ngIf="Menu">
          <i class="material-icons clear" (click)="Menu = false">clear</i>
          <div class="row h100 text-white">
            <div class="col-md-12 text-center mt-3">
              <a class="h5"><img src="/assets/logoAlpha.png" style="width:70%"></a>
            </div>
            <div class="col-md-12 px-0">
              <mat-list class="text-white">
                <mat-list-item>
                  <div class="input-group">
                    <input type="text" placeholder="Categorias & Modelos" class="form-control" />
                    <span class="input-group-addon" style="padding:6px 20px;">
                      <i class="glyphicon glyphicon-search" style="position: relative;
                            right: 5px;
                            top: 3px;"></i>
                    </span>
                  </div>
                </mat-list-item>
                <mat-list-item><button mat-raised-button class="registro" data-toggle="modal" data-target="#iniciar">REGISTRATE</button></mat-list-item>
                <mat-list-item><button mat-raised-button class="registro" data-toggle="modal" data-target="#iniciar">
                    INICIAR SESION </button></mat-list-item>
                <mat-list-item class="cp" routerLink="/modelos"> Modelos <i class="material-icons  cp;" style="position: relative;
                  top: 1px;">keyboard_arrow_right</i>
                </mat-list-item>
                <mat-list-item class="cp" routerLink="/categorias"> Categorias <i class="material-icons  cp;" style="position: relative;
                  top: 1px;">keyboard_arrow_right</i>
                </mat-list-item>
                <mat-list-item class="cp" routerLink="/contacto"> Contacto
                </mat-list-item>
                <mat-list-item> 
                  <p class="text-center" class="cp">Terminos y Condiciones </p>
                </mat-list-item>
              </mat-list>
            </div>
            <div class="col-md-12">
              <!-- <button mat-raised-button class="registro mb-3">REGISTRATE</button>
            <button mat-raised-button class="registro"> INICIAR SESION  </button> -->
              <p class="text-center mt-4">
                <a href="info@phalphagolf.com"><i class="fa fa-envelope-o text-white" style="font-size:24px"></i></a>
                <a href="https://www.instagram.com/ph.alpha.golf/"><i class="fa fa-instagram mx-3 cp text-white" style="font-size:24px" ></i></a>
                <a href="https://twitter.com/phalphagolf"><i class="fa fa-twitter cp text-white" style="font-size:24px"></i></a>
              </p>
            </div>

          </div>
        </div>
        <div class="col-md-10 pl-5 d-flex">

          <div class="mt-auto" style="width: 100%;">
            <div class="mt-4">
              <p class="h1 text-white display-3" style="font-size:75px">SEXY DRESSES</p>
              <p class="h2 text-white display-4" style="font-size:40px;position:relative;top:-10px;">CLARITAS PROCESSUS</p>
              <p class="mb-3 mt-2"><button mat-raised-button class="album " routerLink="/cami-jean/album-sextop">
                  <b>VER ALBUM</b> <i class="material-icons  cp;">keyboard_arrow_right</i>
                </button></p>
              <p style="text-align:end" class="text-white mb-1">
                <i class="material-icons f-32 cp">keyboard_arrow_left</i>
                <i class="material-icons f-32 cp">keyboard_arrow_right</i>

              </p>
              <div class="bg-dark display-x">
                <div class="cont-img">
                  <img src="/assets/251.jpg" class="item-img">
                </div>
                <div class="cont-img">
                  <img src="/assets/252.jpg" class="item-img">
                </div>
                <div class="cont-img">
                  <img src="/assets/253.jpg" class="item-img">
                </div>
                <div class="cont-img">
                  <img src="/assets/1.jpg" class="item-img">
                </div>
                <div class="cont-img">
                  <img src="/assets/123.jpg" class="item-img">
                </div>
                <div class="cont-img">
                  <img src="/assets/123.jpg" class="item-img">
                </div>
                <div class="cont-img">
                  <img src="/assets/123.jpg" class="item-img">
                </div>
                <div class="cont-img">
                  <img src="/assets/123.jpg" class="item-img">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="modal fade" id="iniciar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="width: 325px;">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h3 class="os" style="font-family: Oswald;">INICIAR SESION</h3>
            </div>
            <div class="col-md-12 my-4">
                <div class="inner-addon left-addon">
                    <i class="glyphicon glyphicon-user"></i>
                    <input type="text" placeholder="Email" class="form-control" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="inner-addon left-addon">
                    <i class="glyphicon glyphicon-eye-close"></i>
                    <input type="password" placeholder="Contraseña" class="form-control" />
                </div>
            </div>
            <div class="col-md-12 mt-3">
                <button class="btn btn-primary btn-inicio">INICIAR SESION</button>
            </div>
            <div class="col-md-12 mt-3">
                <button class="btn btn-primary btn-inicio" style="background: white;
                color: #2f2f2f;
                box-shadow: 1px 1px 1px grey;">CREAR CUENTA</button>
        </div>
        <div class="col-12 my-1">
          <h3><small>¿Olvidaste tu cuenta?</small></h3>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>